* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}




/*..........début.index..........*/
/*.....body.....*/
body{
    
    background-image: url('../img/fondIndex1.png');
    /*background-size: 500px 500px;*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1{
        color: red;
    }

    section{
        width: 1000px;
        height: 500px;
        display: flex;
        #inscription{
            width: 500px;
            color: red;
            display: flex;flex-direction: row;
        }

        #connexion{
            width: 500px;
            color: red;
        }
    }
    
}

