* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}



body{
    img{
        background-size:auto;
    }
    #section{
        width: 1000px;

        #inscription{
            width: 1000px;
            margin-top: -900px;
            color: red;
        }
    }
}